.input {
  border-color: blue;
  height: 3rem;
  width: 60%;
  text-align: center;
  align-items: center;
  margin-left: 20%;
}

.input::placeholder {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}

/* .input::after {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
} */

.input:placeholder-shown {
  border: 3px solid #000;
}

.add-button {
  margin-left: 2%;
  height: 3rem;
  width: 5rem;
}

.listGroupItem {
  width: 40%;
}

.delete {
  transform: translateX(29rem);
}
